PORT=8080
DB_URL=jdbc:mysql://localhost:3306/animal_safe?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USER=root
DB_PASSWORD=lana3045.
JWT_SECRET=replace_with_long_secure_secret
JWT_EXPIRATION=86400000
